#hide{
    opacity: 0;
    transition: opacity 0.2s linear;
}

#body{
    background-color: #1A202C;
}


@keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#myarrow{
    margin-left: 300px;
    margin-top: 25px;

    stroke: #fff;
    fill: #fff;
    stroke-dasharray: 2200;
    animation: arrow 2s;
}

@keyframes arrow{
    0%{
        opacity: 0;
        fill: none;
        stroke-dashoffset: 2200;
    }
    30%{
        opacity: 10;
        fill: none;
        stroke-dashoffset: 2200;
    }
    90%{
        fill: rgba(255, 255, 255, 0);
    }
    100%{
        opacity: 10;
        fill: rgba(255, 255, 255, 1);
        stroke-dashoffset: 0;
    }
}

#mysvg{
    stroke: #fff;
    fill: #fff;
    stroke-dasharray: 1154;
    transform: translateX(-50px);

    animation: animate 2s;
}

@keyframes animate {
    0%{
        opacity: 0;
        fill: none;
        stroke-dashoffset: 1154;
    }
    30%{
        opacity: 10;
        fill: none;
        stroke-dashoffset: 1154;
    }
    90%{
        fill: rgba(255, 255, 255, 0);
    }
    100%{
        opacity: 10;
        fill: rgba(255, 255, 255, 1);
        stroke-dashoffset: 0;
    }
}